<div class="banner-alert {{if this.isHidden "hide"}}">
  Your questions. My inbox.
  <a href="mailto:beaudoin.hax@gmail.com">Get in touch.</a>
  <button class="banner-close" type="button" {{on "click" this.dismiss}}>×</button>
</div>
