{{yield}}
<p>
  "We make the road by walking"
  <br/>
  Matt comes from a strong tradition of DIY and creative problem solving, with an emphasis on collaboration.
  <br/>
  As a self taught musician, sailor, and carpenter, Matt has honed the skill of learning new things. His music has let him tour 3 continents, his sailing has taken him across oceans and seas, and his carpentry has allowed a lot of that to happen. He now lives in a timber framed cabin he built a few years ago, after selling his intrepid 28 foot engineless sailboat. His new area of study is now computer programming. After completing a software engineering bootcamp and working professionally on an ember.js frontend for a couple years, he's ready for the next chapter.
  <br/>
  Matt's DIY background has also driven him to embrace collaborative and inclusive work environments. Whether in bands and boats, in community organizing, in learning settings, or in the collectively run business he helped form, he believes that everyone brings something to the table, and that collaborative work creates better outcomes. 
  <br/>
  When Matt is not hacking you can find him in the forest hiking, sailing small boats, or helping run a small collective theatre project in Quilcene Washington.
</p>